body {
  font-family: Arial;
  background: #f8f8f8;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  background: #fff;
  border-radius: 12px;
  padding: 25px;
  width: 300px;
  text-align: center;
  box-shadow: 0 0 10px #ccc;
}

h2 {
  margin-bottom: 20px;
}

input {
  width: 90%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  margin-top: 15px;
  padding: 10px 20px;
  border: none;
  background: #4CAF50;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
}

button:hover {
  background: #429e46;
}

#resultado {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}